*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
*.log.*
*.json.gzip
node_modules/
.buildpath
.settings
npm-debug.log
nohup.out
_site
_data
dist
report.html
lib
es

elasticsearch-*
config/base.yaml
/.vscode/
/.claude/
coverage
yarn.lock
package-lock.json
bun.lock
bun.lockb
pnpm-lock.yaml
bun.lockb
.pnpm-debug.log
packages/*/components/**/*.js
packages/*/components/**/*.jsx
!packages/*/components/**/__tests__/**/*.js
!packages/*/components/**/__tests__/**/*.js.snap
/.history
*.tmp
artifacts.zip
oss-artifacts.zip
server/

doc_build
apps/backend/uploads/
apps/backend/temp_chunks/